@font-face {
  font-family: "NanumSquareRoundOTF";
  font-weight: 300;
  font-display: swap;
  src: url(./woff2/NanumSquareRoundOTFL.woff2) format("woff2"),
    url(./woff2/NanumSquareRoundOTFL.woff2) format("woff2");
}

@font-face {
  font-family: "NanumSquareRoundOTF";
  font-weight: 400;
  font-display: swap;
  src: url(./woff2/NanumSquareRoundOTFR.woff2) format("woff2"),
    url(./woff2/NanumSquareRoundOTFR.woff2) format("woff2");
}

@font-face {
  font-family: "NanumSquareRoundOTF";
  font-weight: 700;
  font-display: swap;
  src: url(./woff2/NanumSquareRoundOTFB.woff2) format("woff2"),
    url(./woff2/NanumSquareRoundOTFB.woff2) format("woff2");
}

@font-face {
  font-family: "NanumSquareRoundOTF";
  font-weight: 800;
  font-display: swap;
  src: url(./woff2/NanumSquareRoundOTFEB.woff2) format("woff2"),
    url(./woff2/NanumSquareRoundOTFEB.woff2) format("woff2");
}
