@import "../fonts/pretendard/pretendard-subset.css";
@import "../fonts/pretendard/pretendard.css";
@import "../fonts/SangSangFlowerRoad/SangSangFlowerRoad.css";
@import "../fonts/NanumSquareRound/NanumSquareRoundOTF.css";
@import "../fonts/dokdo/dokdo.css";

.__focussed-target:not([data-disabled-outline="true"]) {
  outline: 0.26em solid transparent !important;
  transition: outline 0.1s ease-in-out;
}
.__focussed:not([data-disabled-outline="true"]) {
  outline-color: #fff500 !important;
}
.react-transform-wrapper {
  width: 100% !important;
  height: 100% !important;

  display: flex;
}

#root {
  display: flex;
  flex-direction: column;
}

*:focus-visible:not([data-disabled-outline="true"]),
*:focus:not([data-disabled-outline="true"]) {
  outline: 0.1em dashed #fff500 !important;
  outline-offset: 0.3rem;
}

.bounce-down {
  animation: bounce-down 1s alternate ease infinite;
}

@keyframes bounce-down {
  0% {
    transform: translateY(0) translate(-50%, -50%);
  }
  20% {
    transform: translateY(-20px) translate(-50%, -50%);
  }
  100% {
    transform: translateY(0px) translate(-50%, -50%);
  }
}
