@import "../fonts/pretendard/pretendard-subset.css";
@import "../fonts/pretendard/pretendard.css";
@import "../fonts/SangSangFlowerRoad/SangSangFlowerRoad.css";
@import "../fonts/NanumSquareRound/NanumSquareRoundOTF.css";

.__focussed {
  outline: 0.26em solid #fff500 !important;
}

.__focussed-target {
  transition: outline 0.1s ease-in-out;
}
.stf__block {
  pointer-events: none;
  touch-action: none;
  user-select: none;
}
